# Groups
@@@Backend @"Juan Pablo Araya" @"Hjalte Thor" @"Jannik Neerdal" @"Kasper Bonfils" @"Mark Helmundt Kevings" @"Rasmus Løje" @"Roland Beta" @"Jannik Larsen" @"Anders Tofte" @"Andreas Thiele" @"Andreea Muscalagiu" @"Diana Buras" @"Laurentiu Calin Durnea" @"Piotr Pabiś" @"Rafal Markiewicz" @"Simon Kløve Christensen"

# Define how many people of the Backend group needs to approve a 
# PR before it can be merged.
Check(@@Backend >= 1)

# Default reviewers
# Any rows below this one takes precedence
*   @@Backend



